@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  margin: 0; 
  padding: 0;
}

body {
  .flex(none, center, column);
  background-color: @backgroundColor;
  color: @primaryColor;
  font-family: 'Catamaran', sans-serif;

  header {
    background-image: url("../assets/champion.jpg");
    height: 100vh;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;

    @media @phone {
      //background-image: url("../assets/header-phone.jpg");
      width: 100vw;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .navigation {
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 10%;
      color: white;

      @media @phone {
        margin-left: 10%;
        margin-top: 1%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
  
      h1 {
        font-size: 3rem;
        color: @lifePink;

        @media @phone {
          font-size: 2.5rem;
        }
      } 
  
      nav {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.8rem;
        padding-left: 15%;
  
        @media @phone {
          width: 40%;
          font-size: 1.5rem;
          border-top: 1px solid white;
          padding-left: 0;
        }

        a {
          margin-right: 10%;
          text-decoration: none;
          color: white;
          }
  
        button {
          margin-left: 20%;
          border-radius: 6px;
          border: 2px solid white;
          background-color: inherit;
          padding: 0 30px;
          font-size: 1.6rem;
          height: 32px;
          color: white;

          @media @phone {
            margin-left: 55vw;
            font-size: 1.4rem;
          }

          @media (max-width: 800px) {
            margin-left: 50vw;
          }

          @media (max-width: 650px) {
            margin-left: 45vw;
          }

          @media (max-width: 575px) {
            margin-left: 40vw;
          }

          @media (max-width: 500px) {
            margin-left: 35vw;
          }

          @media (max-width: 400px) {
            margin-left: 25vw;
          }

          @media (max-width: 350px) {
            margin-left: 15vw;
          }
        }
      }
    } //navigation   
    
    .header-content {
      font-weight: bold;
      line-height: 1.2;
      margin: 0 10% 0 10%;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      @media @phone {
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
      }

      h1 {
        font-weight: bold;
        font-size: 8rem;
        padding-top: 4%;
        padding-bottom: 2%;

        @media @phone {
          font-size: 6.5rem;
          text-align: center;
          padding-bottom: 10%;
        }

        @media (max-width: 375px) {
          font-size: 5.5rem;
        }
      }

      button {
        border-radius: 15px;
        border: 2px solid @lifePink;
        background-color: @lifePink;
        padding: 0 40px;
        font-size: 2.5rem;
        height: 45px;
        color: black;
        font-weight: bold;
      }
    }
  } //header
 

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .achievements {
      padding-top: 3%;
      padding-bottom: 5%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background: @lifePink;

      h1 {
        width: 100%;
        font-size: 5rem;
        margin-left: 8%;
        font-weight: bold;
        margin-bottom: 1%;
        color: black;

        @media @phone {
          margin-right: 1%;
          font-size: 4rem;
        }

        @media (max-width: 375px) {
          font-size: 3rem;
        }
      }

      .achievement {
        text-align: center;
        line-height: 0.25;
        width: 18%;
        border: 3px solid black;
        border-radius: 5px;
        margin: 2%;
        padding: 1% 0;
        color: black;
        margin-bottom: 2%;

        @media @phone {
          width: 40%;
        }

        img {
          height: 90px;
          width: auto;

          @media @phone {
            height: 70px;
          }
        }

        h1 {
          font-size: 5rem;
          margin-left: 0;
          margin-bottom: 0;

          @media @phone {
            font-size: 4rem;
          }

          @media (max-width: 375px) {
            font-size: 3rem;
          }          
        }

        h2 {
          @media @phone {
            font-size: 1.6rem;
          }
        }
      }
    } //achievements

    .how-it-works {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 5% 0;
      background: whitesmoke;

      @media @phone {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .hiw-left {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 5px dotted black;
        color: black;

        @media @phone {
          border-right: none;
          width: 85%;
          justify-content: flex-start;
        }

        h1 {
          width: 60%;
          font-size: 7rem;
          padding-left: 10%;
          line-height: 1;
          font-weight: bold;

          @media @phone {
            width: 100%;
            font-size: 4rem;
            padding-left: 0;
            padding-bottom: 3%;
          }

          @media (max-width: 375px) {
            font-size: 3rem;
          }
        }
      }

      .hiw-right {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        color: black;
        flex-wrap: wrap;
        margin-top: 2.5%;

        @media @phone {
          width: 85%;
          margin-top: 5%;
          align-items: flex-start;
          justify-content: space-evenly;
        }

        .step {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 5%;

          @media @phone {
            width: 40%;
          }

          img {
            width: 75px;
            height: auto;
            margin-bottom: 5%;
          }

          .number {
            width: 100px;
            height: auto;
          }

          h2 {
            text-align: center;
          }
        }
      }
    } //how-it-works

    .phrase {
      background-image: url("../assets/phrase6.jpg");
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 2%;

      @media @phone {
        width: auto;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 5%;
      }

      h1 {
        width: 80%;
        color: white;
        font-size: 6rem;
        font-weight: bold;
        padding: 2% 10%;
        text-align: center;

        @media @phone {
          width: 85%;
          font-size: 4rem;
          text-align: center;
          margin-top: 5%;
        }

        @media (max-width: 450px) {
          font-size: 3rem;
        }

        @media (max-width: 350px) {
          font-size: 2.5rem;
        }
      }

      h2 {
        color: white;
        text-align: center;
        margin-bottom: 2%;

        @media @phone {
          width: 85%;
          margin-bottom: 5%;
        }

        @media (max-width: 450px) {
          font-size: 2.5rem;
        }

        @media (max-width: 350px) {
          font-size: 1.5rem;
        }
      }

      button {
        border-radius: 15px;
        border: 2px solid @lifePink;
        background-color: @lifePink;
        padding: 0 40px;
        font-size: 2.5rem;
        height: 50px;
        color: black;
        font-weight: bold;
        width: auto;

        @media (max-width: 350px) {
          font-size: 2rem;
        }
      }
    }

    footer {
      padding: 2% 0;
      text-align: center;
      background: @lifeBlue;
      color: whitesmoke;

      p {
        font-size: 1.4rem;
        
        @media (max-width: 375px) {
          font-size: 1rem;
        }
      }
    }
  } //body
}

.about-header {
  background-image: url("../assets/about.jpg");
  align-content: center;
}


@import './components/Navigation/Navigation';
@import './components/Header/Header';
@import './components/Achievement/Achievement';

// Ojo: importar los componentes aca.
// @import './components/TopBar/TopBar';
// @import './components/Header/Header';
// @import './components/Tabs/Tabs';
// @import './components/Cards/Cards';
// @import './components/Carousel/Carousel';
